<div class="table-control table-skeleton-control d-flex flex-wrap align-items-center">
    <div class="btn-group" role="group" style="height: 38px;">
        <button class="btn btn-light" disabled>
            <span class="shimmer__block" style="width: 70px; display:inline-block; vertical-align:middle;"></span>
        </button>
        <button class="btn btn-light" disabled>
            <span class="shimmer__block" style="width: 16px; display:inline-block; vertical-align:middle;"></span>
        </button>
    </div>

    <button class="btn btn-light" style="height: 38px;" disabled>
        <span class="shimmer__block" style="width: 80px; display:inline-block; vertical-align:middle;"></span>
    </button>

    <button class="btn btn-light" style="height: 38px;" disabled>
        <span class="shimmer__block" style="width: 60px; display:inline-block; vertical-align:middle;"></span>
    </button>
</div>
