@use 'sass:color';

$color-active: #206b82;

.tabulator-wrapper {
    position: relative;

    &.fullscreen {
        #btn-fullscreen i:before {
            content: "\f066";
        }

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;

        .tabulator-container {
            height: 100%;
            margin: 0;
        }
    }

    input[type="checkbox"] {
        accent-color: $color-active;
        cursor: pointer;
    }

    .tabulator-container {
        position: relative;
        min-height: 120px;

        .tabulator-table {
            .tabulator-row.tabulator-selected {
                background-color: rgba(#005d7a, 0.25) !important;

                &:hover {
                    background-color: rgba(#005d7a, 0.35) !important;
                }
            }

            .tabulator-row {
                .tabulator-cell {
                    &.tabulator-row-header {
                        border-right: unset;
                        background: unset;
                    }

                    .dropdown-toggle::after {
                        display: none;
                    }
                }

                &:hover {
                    background-color: #f9fafb !important;
                }

                &:last-child {
                    border-bottom: unset;
                }
            }
        }

        .tabulator-footer {
            border-top: unset;

            .tabulator-footer-contents {
                padding: 0;

                .tabulator-paginator {
                    .tabulator-page-size {
                        border: 1px solid #ced4da;
                        max-width: 70px;
                        border-radius: 0.25rem;
                        padding: 6px 12px;
                    }

                    .tabulator-page {
                        border-radius: 0.25rem;
                        padding: 6px 12px;
                        border: #dee2e6 solid 1px;
                        color: #000;
                        background-color: #fff;
                        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);

                        &.active,
                        &:hover,
                        &:focus,
                        &:active {
                            background-color: $color-active;
                            border-color: $color-active;
                            color: #fff;
                        }
                    }
                }
            }
        }

        // this is to hide a "Loading..." message that appears when the table is loading
        // I'm not sure, that something important is lost by hiding it
        .tabulator-alert {
            background: transparent;

            .tabulator-alert-msg {
                border: 1px solid #ced4da;
                color: black;
            }
        }
    }
}

.tabulator-menu.tabulator-popup-container {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: #333;
    border-radius: 4px;
    min-width: 10rem;

    .tabulator-menu-item {
        &:hover {
            color: #2e2e2e;
            background-color: #e9ecef;
        }
    }
}

#columns-modal {
    .list-group-item:after {
        display: none;
    }
}
