.tabulator-wrapper .tabulator {
  position: relative;
}
.tabulator-wrapper .tabulator.fullscreen #btn-fullscreen i:before {
  content: "\f066";
}
.tabulator-wrapper .tabulator.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.tabulator-wrapper .tabulator.fullscreen .tabulator-container {
  height: 100%;
  margin: 0;
}
.tabulator-wrapper .tabulator input[type=checkbox] {
  accent-color: #206b82;
  cursor: pointer;
}
.tabulator-wrapper .tabulator .tabulator-alert {
  background: transparent;
}
.tabulator-wrapper .tabulator .tabulator-alert .tabulator-alert-msg {
  border: 1px solid #ced4da;
  color: black;
}
.tabulator-wrapper .tabulator .tabulator-container {
  position: relative;
  min-height: 120px;
}
.tabulator-wrapper .tabulator .tabulator-container .tabulator-table .tabulator-row.tabulator-selected {
  background-color: rgba(0, 93, 122, 0.25) !important;
}
.tabulator-wrapper .tabulator .tabulator-container .tabulator-table .tabulator-row.tabulator-selected:hover {
  background-color: rgba(0, 93, 122, 0.35) !important;
}
.tabulator-wrapper .tabulator .tabulator-container .tabulator-table .tabulator-row .tabulator-cell.tabulator-row-header {
  border-right: unset;
  background: unset;
}
.tabulator-wrapper .tabulator .tabulator-container .tabulator-table .tabulator-row .tabulator-cell .dropdown-toggle::after {
  display: none;
}
.tabulator-wrapper .tabulator .tabulator-container .tabulator-table .tabulator-row:hover {
  background-color: #f9fafb !important;
}
.tabulator-wrapper .tabulator .tabulator-container .tabulator-table .tabulator-row:last-child {
  border-bottom: unset;
}
.tabulator-wrapper .tabulator .tabulator-footer {
  border-top: unset;
}
.tabulator-wrapper .tabulator .tabulator-footer .tabulator-footer-contents {
  padding: 0;
}
.tabulator-wrapper .tabulator .tabulator-footer .tabulator-footer-contents .tabulator-paginator .tabulator-page-size {
  border: 1px solid #ced4da;
  max-width: 70px;
  border-radius: 0.25rem;
  padding: 6px 12px;
}
.tabulator-wrapper .tabulator .tabulator-footer .tabulator-footer-contents .tabulator-paginator .tabulator-page {
  border-radius: 0.25rem;
  padding: 6px 12px;
  border: #dee2e6 solid 1px;
  color: #000;
  background-color: #fff;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tabulator-wrapper .tabulator .tabulator-footer .tabulator-footer-contents .tabulator-paginator .tabulator-page.active, .tabulator-wrapper .tabulator .tabulator-footer .tabulator-footer-contents .tabulator-paginator .tabulator-page:hover, .tabulator-wrapper .tabulator .tabulator-footer .tabulator-footer-contents .tabulator-paginator .tabulator-page:focus, .tabulator-wrapper .tabulator .tabulator-footer .tabulator-footer-contents .tabulator-paginator .tabulator-page:active {
  background-color: #206b82;
  border-color: #206b82;
  color: #fff;
}
.tabulator-wrapper .tabulator .tabulator-col .tabulator-col-title-holder {
  display: flex;
  align-items: center;
}
.tabulator-wrapper .tabulator .tabulator-col .tabulator-col-title-holder .tabulator-col-title {
  width: fit-content;
  padding-right: 1rem;
}
.tabulator-wrapper .tabulator .tabulator-col .tabulator-col-title-holder .tabulator-col-sorter {
  position: initial !important;
}
.tabulator-wrapper .tabulator .tabulator-col .tabulator-header-filter input {
  border: 1px solid #DADEE2;
  border-radius: 4px;
  padding: 8px 12px !important;
  line-height: 1;
  margin-top: 8px;
}
.tabulator-wrapper .tabulator .tabulator-col .tabulator-header-filter input {
  display: none;
}
.tabulator-wrapper .tabulator .tabulator-col.filter-visible .tabulator-header-filter input, .tabulator-wrapper .tabulator .tabulator-col.filter-active .tabulator-header-filter input {
  display: block;
}
.tabulator-wrapper .tabulator .btn-header-filter-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0 2px;
  margin-left: auto;
  color: #B3B3B3;
  transition: color 0.15s ease, background-color 0.15s ease;
}
.tabulator-wrapper .tabulator .btn-header-filter-toggle:hover {
  color: #206b82;
  background-color: none;
}
.tabulator-wrapper .tabulator .btn-header-filter-toggle.active {
  color: #206b82;
}

.tabulator-menu.tabulator-popup-container {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #333;
  border-radius: 4px;
  min-width: 10rem;
}
.tabulator-menu.tabulator-popup-container .tabulator-menu-item:hover {
  color: #2e2e2e;
  background-color: #e9ecef;
}

#columns-modal .list-group-item:after {
  display: none;
}

@keyframes reverseProgress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
.shimmer {
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ced4da;
}
.shimmer .shimmer__header {
  background: #f9fafb;
}
.shimmer .shimmer__row {
  display: flex;
  padding: 16px 20px;
}
.shimmer .shimmer__row .shimmer__cell {
  flex: 1;
  margin-right: 16px;
}
.shimmer .shimmer__row .shimmer__cell:last-child {
  margin-right: 0;
}
.shimmer .shimmer__row .shimmer__block {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #ededed;
  background-image: linear-gradient(90deg, #ededed 14.36%, #d7d6d6 56.29%, #ededed 100%);
  background-repeat: no-repeat;
  background-size: 244px 104px;
  border-radius: 6px;
  height: 16px;
  width: 100%;
}
.shimmer .shimmer__row:not(:last-child) {
  border-bottom: 1px solid #ced4da;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: 300px 0;
  }
}
.btn-table-disabled {
  pointer-events: none;
}
.btn-table-disabled.btn-light {
  color: #dee2e6;
}
.btn-table-disabled.btn-danger {
  color: #fff;
  background-color: #d43f3a;
  border-color: #d43f3a;
  opacity: 0.65;
}